# DATABASE
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=root
DB_PASSWORD=root
DB_NAME=auth_template
DB_SYNCHRONIZE=true
DB_TYPE=postgres

# GOOGLE AUTH
GOOGLE_CLIENT_ID=407408718192.apps.googleusercontent.com

# Cloudinary
CLOUDINARY_CLOUD_NAME=svgcpqsk2
CLOUDINARY_API_KEY=991867969432225
CLOUDINARY_API_SECRET=m45o4cLaqtR8IS0Gca6FxMueWgC

# Gmail
USER_NAME_MAIL=3498dbe8b16b77
USER_PASSWORD_MAIL=2eb840532f15bb
MAIL_HOST=sandbox.smtp.mailtrap.io
MAIL_PORT=587

# GENERAL
PORT=3010
SECRET_KEY=this_is_template_secret_key_and_shouldn't_share_with_anybody
FRONTEND_URL=http://localhost:5173